[submodule "third_party/HY-WorldPlay"]
	path = third_party/HY-WorldPlay
	url = https://github.com/jby20180901/HY-WorldPlay.git
[submodule "third_party/lingbot-world"]
	path = third_party/lingbot-world
	url = https://github.com/jby20180901/lingbot-world.git
[submodule "third_party/Wan2.2"]
	path = third_party/Wan2.2
	url = https://github.com/jby20180901/Wan2.2.git
[submodule "third_party/HunyuanWorld-Mirror"]
	path = third_party/HunyuanWorld-Mirror
	url = https://github.com/jby20180901/HunyuanWorld-Mirror.git
